@{
    ViewBag.Title = "OpticalMountReportsList";
}

<div class="panel-heading">R&D Reports: OpticalMount</div>
<div class="panel-body">
    <div id="searchDiv" class="container">
        <div class="col-md-3 pull-right">
            <button id="btnBack" onclick="window.history.back();" class="btn btn-primary btn-large"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TestType" class="cols-sm-2 control-label">TestType</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                            <input type="text" value="@ViewBag.TestType" id="TestType" name="TestType" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="lblddWorkStudyID" class="cols-sm-2 control-label">WorkStudyID</label>
                    @Html.DropDownList("ddlWorkStudyID", ViewBag.ddlWorkStudyID as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <button id="btnPrint" class="btn btn-info btn-large"><i class="fa fa-list-alt " aria-hidden="true"></i>Print Report</button>
            </div>
            <div class="col-md-3 pull-right">
                <button id="btnExcelReport" class="btn btn-info btn-large"><i class="fa fa-list-alt" aria-hidden="true"></i>Export to Excel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Alloy" class="cols-sm-2 control-label">Alloy</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="Alloy" id="Alloy" class="form-control" placeholder="Enter Alloy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Temper" class="cols-sm-2 control-label">Temper</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="Temper" id="Temper" class="form-control" placeholder="Enter Temper" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="UACPart" class="cols-sm-2 control-label">UACPart</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="UACPart" id="UACPart" class="form-control" placeholder="Enter UACPart" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CustPart" class="cols-sm-2 control-label">CustPart</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="CustPart" id="CustPart" class="form-control" placeholder="Enter CustPart" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="cols-sm-2 control-label"></label>
                    <div class="cols-sm-10">
                        <button id="btnSearch" class="btn btn-primary btn-large"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        &nbsp;&nbsp;&nbsp;
                        <button id="btnClear" class="btn btn-primary btn-large"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Repeater", "OpticalMountReportsRepeater");}
</div>



@section scripts{
    @Scripts.Render("~/bundles/OpticalMountReports")
    <script>
    $(document).ready(function () {
        LoadGrid("OpticalMountReportsRepeater");
    });
    </script>
}


