@model RNDSystems.Models.ViewModels.OptionsViewModel
@{
    ViewBag.Title = "LocationOption";
}

<div class="row">
    <div class="form-group">
        <label for="lblPlantDesc" class="cols-sm-2 control-label">Plant Desciption</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantDesc" id="PlantDesc" name="PlantDesc" class="form-control" placeholder="Enter Plant Desciption" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="lblPlantState" class="cols-sm-2 control-label">Plant State</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantState" id="PlantState" name="PlantState" class="form-control" placeholder="Enter Plant State" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="lblPlantType" class="cols-sm-2 control-label">Plant Type</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantType" id="PlantType" name="PlantType" class="form-control" placeholder="Enter Plant Type" />
            </div>
        </div>
    </div>
</div>

