@model  RNDSystems.Models.ViewModels.OptionsViewModel
@{
    ViewBag.Title = "SetOptions";
}

<div class="panel-heading">Options</div>
<div class="panel_b" style="min-height:500px">

    <div id="searchDiv" class="container">
        <div class="row">
            <div class="col-md-3 pull-right">
                <button id="btnBack" onclick="window.history.back();" class="btn btn-primary btn-large"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
            </div>
        </div>

        <label for="lblSelectOptions" id="lblSelectOptions" class="cols-sm-2 control-label ">Select Options</label>
 
        <div class="row">
            <div class="col-md-3 ">
                <form>
                    <input type="radio" id="StudyType" value="StudyType" name="OptionRadio" checked>Study Type<br>
                    <input type="radio" id="Location" value="Location" name="OptionRadio">Location<br>
                    @* <input type="radio" id="Database" value="Database" name="OptionRadio" disabled>Database*@
                    <input type="hidden" name="optionType" id="optionType" value="@Model.optionType" />                    
                </form>
            </div>
            <div class="col-md-3 ">
                <div class="form-group">
                    <div class="button btn btn-success" id="btnAddOption">Add New</div>
                </div>
            </div>
        </div>
        
          <section>
            <div role="form" id="formStudyType">
                <div id="StudyTypeOption" style="display:block" class="container">
                    <div class="row">
                        <label for="" name="hdStudyType" id="hdStudyType" class="cols-sm-2 control-label bg-primary ">Add New Study Type</label>
                    </div>                   
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Partial("StudyTypeOption")
                        </div>
                    </div>
                </div>
            </div>
            <div role="form" id="formLocation" >
                <div id="LocationOption" style="display:block" class="container">
                    <div class="row">
                        <label for="" name="hdLocation" id="hdLocation" class="cols-sm-2 control-label bg-primary ">Add New Location</label>
                    </div>                   
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Partial("LocationOption")
                        </div>
                    </div>                    
                </div>                
            </div>
        </section>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <button type="submit" id="btnSaveOption"  class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>Save</button>
                </div>
            </div>
        </div>
        <div class="row">
            <label id="lblReturnMessage" class="col-md-16 control-label bg-success"></label>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/SetOptions")
    @*<script>
            $(document).ready(function () {
                LoadGrid("ImportDataRepeater");
            });
        </script>*@
}
