
@model RNDSystems.Models.ViewModels.OptionsViewModel
@{
    ViewBag.Title = "StudyTypeOptionView";
}

<h2>
    Partial View : Study type
    @*@Html.Raw(@Model.optionType)*@
</h2>

@*<h2><label for="" name="lblMessage" id="lblMessage" class="cols-sm-2 control-label">@Html.Raw(ViewBag.Message)</label>
    </h2>*@


