
@model RNDSystems.Models.ManualViewModels.ManualDataViewModel
@{
    ViewBag.Title = "HardnessResults";
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblHardnessSubConduct" class="cols-sm-2 control-label">SubConduct</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="HardnessSubConduct" name="HardnessSubConduct" class="form-control" placeholder="Enter SubConduct" />
                </div>
            </div>
        </div>
    </div>
    @*</div>
        <div class="row">*@
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblHardnessSurfConduct" class="cols-sm-2 control-label">SurfConduct</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="HardnessSurfConduct" name="HardnessSurfConduct" class="form-control" placeholder="Enter SurfConduct" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblHardness" class="cols-sm-2 control-label">Hardness</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="Hardness" name="Hardness" class="form-control" placeholder="Enter Hardness" />
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblHardnessSpeciComment" class="cols-sm-2 control-label">SpeciComment</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                        <input type="text" id="HardnessSpeciComment" name="HardnessSpeciComment" class="form-control" placeholder="Enter SpeciComment" />
                    </div>
                </div>
            </div>
        </div>
        @*</div>
            <div class="row">*@
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblHardnessOperator" class="cols-sm-2 control-label">Operator</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                        <input type="text" id="HardnessOperator" name="HardnessOperator" class="form-control" placeholder="Enter Operator" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblTestDate" class="cols-sm-2 control-label">Test Date</label>
                <div class="input-group date">
                    <input type="text" id="HardnessTestDate" name="HardnessTestDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblHardnessTimeHrs" class="cols-sm-2 control-label">TimeHrs</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                        <input type="text" id="HardnessTimeHrs" name="HardnessTimeHrs" class="form-control" placeholder="Enter TimeHrs" />
                    </div>
                </div>
            </div>
        </div>
        @*</div>
            <div class="row">*@
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblHardnessTimeMns" class="cols-sm-2 control-label">TimeMns</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                        <input type="text" id="HardnessTimeMns" name="HardnessTimeMns" class="form-control" placeholder="Enter TimeMns" />
                    </div>
                </div>
            </div>
        </div>
    </div>




