@model RNDSystems.Models.ViewModels.ImportDataViewModel
@{
    ViewBag.Title = "IGCResults";
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCSubConduct" class="cols-sm-2 control-label">SubConduct</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCSubConduct" name="IGCSubConduct" class="form-control" placeholder="Enter IGCSubConduct" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCSurfConduct" class="cols-sm-2 control-label">SurfConduct</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCSurfConduct" name="IGCSurfConduct" class="form-control" placeholder="Enter IGCSurfConduct" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCMinDepth" class="cols-sm-2 control-label">IGCMinDepth</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCMinDepth" name="IGCMinDepth" class="form-control" placeholder="Enter IGCMinDepth" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCMaxDepth" class="cols-sm-2 control-label">IGCMaxDepth</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCMaxDepth" name="IGCMaxDepth" class="form-control" placeholder="Enter IGCMaxDepth" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCAvgDepth" class="cols-sm-2 control-label">IGCAvgDepth</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCAvgDepth" name="IGCAvgDepth" class="form-control" placeholder="Enter IGCAvgDepth" />
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCSpeciComment" class="cols-sm-2 control-label">IGCSpeciComment</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCSpeciComment" name="IGCSpeciComment" class="form-control" placeholder="Enter IGCSpeciComment" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCOperator" class="cols-sm-2 control-label">IGCOperator</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCOperator" name="IGCOperator" class="form-control" placeholder="Enter IGCOperator" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblTestDate" class="cols-sm-2 control-label">Test Date</label>
            <div class="input-group date">
                <input type="text" id="IGCTestDate" name="IGCTestDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCTimeHrs" class="cols-sm-2 control-label">TimeHrs</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCTimeHrs" name="IGCTimeHrs" class="form-control" placeholder="Enter TimeHrs" />
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblIGCTimeMns" class="cols-sm-2 control-label">TimeMns</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="IGCTimeMns" name="IGCTimeMns" class="form-control" placeholder="Enter TimeMns" />
                </div>
            </div>
        </div>
    </div>
</div>




