@model RNDSystems.Models.ViewModels.ImportDataViewModel
@{
    ViewBag.Title = "OpticalMountResults";
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblOpticalMountSpeciComment" class="cols-sm-2 control-label">SpeciComment</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="OpticalMountSpeciComment" name="OpticalMountSpeciComment" class="form-control" placeholder="Enter SpeciComment" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblOpticalMountOperator" class="cols-sm-2 control-label">Operator</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="OpticalMountOperator" name="OpticalMountOperator" class="form-control" placeholder="Enter Operator" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblTestDate" class="cols-sm-2 control-label">Test Date</label>
            <div class="input-group date">
                <input type="text" id="OpticalMountTestDate" name="OpticalMountTestDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblOpticalMountTimeHrs" class="cols-sm-2 control-label">TimeHrs</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="OpticalMountTimeHrs" name="OpticalMountTimeHrs" class="form-control" placeholder="Enter TimeHrs" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblOpticalMountTimeMns" class="cols-sm-2 control-label">TimeMns</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                    <input type="text" id="OpticalMountTimeMns" name="OpticalMountTimeMns" class="form-control" placeholder="Enter TimeMns" />
                </div>
            </div>
        </div>
    </div>
</div>




